.container{
    height: 90px;
    display: flex;
    background-color: rgb(133, 52, 183);
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.container ul{
    list-style: none;
    display: flex;
}

.container ul li{
    font-size: 26px;
    padding: 0 40px;
    text-decoration: none;
    color: azure;
}